@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Soft-orange: #e9ab53;
  --Soft-red: #f15e50;
  --Off-white: #fffdfa;
  --Grayish-blue: #c5c6ce;
  --Darkgrayishblue: #5d5f79;
  --Verydarkblue: #00001a;
}

@layer utilities {
  .grid-area-one {
    grid-area: one;
  }
  .grid-area-two {
    grid-area: two;
  }
  .grid-area-three {
    grid-area: three;
  }
}
